body {
    background-color: white;
    background-image: none;
}

button {
margin-top:80px;
height:50px;
width:180px;

}


#buttonbrisi{
margin-bottom: 1000px;

}

div {

    width:440px;
    height: 50px;
    background-color: white;
    box-sizing: border-box;

}




#testing{
background-color:red;
}


#auredi {
position: relative;
  top:13px;
  font: bold 18px Arial;
  text-decoration: none;
  background-color:lightgreen;
  color: #333333;
  padding: 10px 80px;
  margin-bottom: 20px;
  border-radious: 5px;
    }

#adelete{
  max-width:80%;
  position: relative;
  top:13px;
  font: bold 18px Arial;
  text-decoration: none;
  background-color: pink;
  color: #333333;
  padding: 10px 80px;
  margin-bottom: 20px;
  border-radious: 5px;
  }

#aback{
  position: relative;
  top:13px;
  font: bold 18px Arial;

  text-decoration: none;
  background-color: lightyellow;
  color: #333333;
  padding: 10px 18px;
  margin-bottom: 20px;
  border-radious: 5px;
  }





h1 {
left :50%;
text-align:center;
font: bold 30px Arial;

}

#link {
    height: 50px;
    text-align:center;
}



p {
font: bold 12px Arial;
background-color: white;
text-align:center;
}




#center{

text-align:center;
background-color: white;
position: absolute; /* or absolute */
top: 50%;
left: 50%;
margin-top: -250px;
margin-left: -220px;
width: 440px;
}

ul
{
    list-style-type: none;
    background-color: lightgreen;
    text-align:center;
    margin: 0;
    padding: 5px;
    padding-bottom:120px;
    border-radius:20px;
}

#posli{
padding-bottom:1px;
margin-bottom:40px;
}


ol
{
    list-style-type: none;
    background-color: lightgreen;
    text-align:center;
    margin: 0;
    padding: 5px;
}


li {
text-align:center;
font: 12px Arial;
height:25px;



}
input {
text-align:center;
font-family: "Arial";
}

textarea {
font-family: "Arial";
resize: none;
width: 350px;
}

a {
background-color:white;
}






.myButton {
	-moz-box-shadow: 0px 10px 14px -7px #734227;
	-webkit-box-shadow: 0px 10px 14px -7px #734227;
	box-shadow: 0px 10px 14px -7px #734227;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #994075));
	background:-moz-linear-gradient(top, #599bb3 5%, #994075 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #994075 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #994075 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #994075 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #994075 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#994075',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #994075), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #994075 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #994075 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #994075 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #994075 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #994075 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#994075', endColorstr='#599bb3',GradientType=0);
	background-color:#994075;
}
.myButton:active {
	position:relative;
	top:1px;
}