body {
    background-color: lightcyan;
}

div {
    height: 50px;
}

#link {
    height: 50px;
}

h1 {
left: 50%;
}

#center{
position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
    margin-top: -220px;
    margin-left: -110px;
}

ol
{
    list-style-type: none;
}