body {
    background-color: lightcyan;

}

div {
    height: 50px;
    background-color: lightcyan;

}


h1 {
left :50%;
text-align:center;

}

#link {
    height: 50px;
    text-align:center;
}

p {

background-color: red;
text-align:center;
}


ul
{
    list-style-type: none;
    background-color: lightgreen;
    text-align:center;
    margin: 0;
    padding: 5px;
}

ol
{
    list-style-type: none;
    background-color: lightgreen;
    text-align:center;
    margin: 0;
    padding: 5px;
}


li {
text-align:center;



}
input {
text-align:center;

}