{% extends "base.html" %}

{% block title %}Forum{% endblock title %}

{% block css %}
<link rel="stylesheet" href="/assets/css/style-forum.css">

<link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="../assets/css/style_mob.css" />
{% endblock css %}

{% block specifika %}

    <div id=center>
        <h1>Vnesite sporočilo</h1>
            <form method='post' action='/redirect'>
            <ul>
                <li> Ime</li>
                <li><input name='fime' value="Neznanec"></li>
                <li> Priimek</li>
                <li><input name='fpriimek'></li>
                <li> Email</li>
                <li><input name='femail'></li>
                <li> Sporocilo</li>
                <li><textarea rows="4" cols="50" name='fsporocilo'>Obvezno vpisi kaj notri</textarea></li>
                <li><button type='submit'>Objavi</button></li>
                </ul>


        <h1 id=h1seznam>Seznam sporočil</h1>

        {% for forum in forumseznam %}
            <p>Ime: <a href="/forum/{{ forum.key.id() }}">{{ forum.fime }}</a></p>
            <p>Sporočilo: {{ forum.fsporocilo }} </p>
            <p>   --------------------------- </p>
        {% endfor %}
        <div id="link">
            <a id=aback href="/">Tukaj klikni za nazaj</a>
        </div>
    </div>
{% endblock specifika %}