<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>

    <form method='post' action='/rezultat'>
        <input name='vnos'>
        <button type='submit'>Objavi</button>
    </form>
    <div>
        {{ vnos }}
    </div>
    <div id="link">


        <a href="/kalkulator">Tukaj klikni da dobiš čas</a>


    </div>

</body>
</html>