{% extends "base.html" %}

{% block title %}Posamezen vnos{% endblock title %}
{% block css %}<!--suppress XmlDuplicatedId -->
<link rel="stylesheet" href="/assets/css/style-forum.css">
<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
{% endblock css %}

{% block specifika %}

    <div id=center>
    {% if logiran %}
        <h1>Podatki sporočila</h1>
        <ul id=posli>
            <li>ID sporočila: {{ forum.key.id() }}</li>
            <li>Ime: {{ forum.fime }}</li>
            <li>Priimek: {{ forum.fpriimek }}</li>
            <li>Email: {{ forum.femail }}</li>
            <li>Vnos sporočila: {{ forum.fsporocilo }}</li>
            <li>Datum sporočila: {{ forum.nastanek }}</li>
        </ul>
        <div><a id=auredi href="/forum/{{forum.key.id()}}/uredi">Uredi</a></div>
        <div><a id=adelete href="/forum/{{forum.key.id()}}/zbrisi">Zbriši</a></div>
        <div><a id=aback href="/forum">Tukaj klikni za nazaj</a></div>
    {% else %}
        <h1>Hello stari, dej se prijavi</h1>

        <p>Prijavi se na: <a href="{{ login_url }}">Login</a></p>
    {% endif %}
    </div>
{% endblock specifika %}