<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Random</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
    <div id=center>
    <h1>Hello, Random!</h1>

    <form method='post' action='/random'>
        <ol>
        <li> Vnesi številko!              <input name='ugibam'></li>
        <li><button type='submit'>Objavi</button></li>
        </ol>

    </form>
    <div>
         Rezultat je: {{ visjemanjse }}
    </div>
    <div id="link">
        <a href="/">Tukaj klikni za nazaj</a>
    </div>
    </div>
</body>
</html>