{% extends "base.html" %}

{% block title %}Zbrisi{% endblock title %}

{% block css %}<link rel="stylesheet" href="/assets/css/style-forum.css">{% endblock css %}

{% block specifika %}
<div id=center>
    {% if logiran %}
<h1>Ali bi ti res tole brisal? :)</h1>
    <form action="/forum/{{forum.key.id()}}/zbrisi" method="post">
     <button id=buttonbrisi type="submit">BRIŠI!!!!</button><br>

    </form>
    <div></div>
    <a id="aback" href = "/forum">Bejži nazaj</a>
    {% else %}
            <h1>Hello stari, dej se prijavi</h1>

            <p>Prijavi se na: <a href="{{ login_url }}">Login</a></p>
        {% endif %}
</div>


{% endblock specifika %}